
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
body{
  font-family: 'Poppins', sans-serif;
}
.brand{
  width: 125px;
}
.navbar{
  display: flex;
  align-items: center;
  padding: 20px;
 
}
nav{
  flex: 1;
  text-align: right;
}
nav ul{
  display: inline-block;
  list-style-type: none;
}

nav ul li{
  display: inline-block;
  margin-right: 20px;
}

a{
  text-decoration: none;
  color: #555;
}
p{
  color: #555;
}
.container{
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;

}
.col-2{
  flex-basis: 50%;
  min-width: 300px;
}

.col-2 img{
  max-width: 100%;
  padding: 50px 0;
  margin-left: 250px;
}

.col-2 h1{
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}

.col-2 h2{
  margin-top: -30px;
}

.btn{
  display: inline-block;
  background:blue;
  color: white;
  padding: 8px 30px;
  margin: 30px 10px;
  border-radius: 30px;
  transition: 0.5s;
}

.btn:hover{
  background-color: chartreuse;
}


.define{
  margin-top: 3rem;
  color: black;
}

/* sidebar*/
.sidebar {
  position: fixed;
  left: 0;
  width: 220px;
  height: 100%;
  background: #042331;
  bottom: 0.1rem;
  overflow-y: scroll;
}

.sidebar header {
  font-size: 22px;
  color: white;
  text-align: center;
  line-height: 70px;
  background: #063146;
  user-select: none;
}

.sidebar ul a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  transition: 0.4s;
}
  
.sidebar-btn:hover  {
  padding-left: 120px;
  color: orangered;
}

.link-active{
  color: orangered;
}
.mid{
  margin-left: 16rem;
}

.footer{
  background-color: orangered;
  height: 150px;
  width: 100%;
  position: absolute;
}

.webmaker{
  text-align: center;
  position: relative;
  top: 30px;
  font-size: 20px;
}

.social-media{
 background-color: white;
 padding: 5px;
 margin: 4px 20px;
 color: blue;
 border-radius: 5px;
}

.footer-social{
  text-align: center;
  margin-top: 60px;
}

@media screen and (max-width:480px){
  *{
    box-sizing: border-box;
  }
  html,body{
  
    height: 100%;
  }

  body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;

  }

  .navbar{
    align-items: center;
    padding: 10px 20px;
   
  }

  nav{
    flex: 1;
    text-align: right;
 
   
  }
  nav ul{
    display: inline-block;
    list-style-type: none;
    
  }
  
  nav ul li{
    display: inline-block;
    margin: 10px;
    
  }
  
  a{
    text-decoration: none;
    color: #555;
    font-size: 15px;

  }
  .brand{
    width: 125px;
    margin-left: 25px;
    
  }

  .container{
    max-width: 1300px;
    margin: auto;
    padding-left: 0px;
    padding-right: 0px;

    
  }
  
  .col-2{
    flex-basis: 50%;
    min-width: 300px;
  }
  
  .col-2 img{
    max-width: 100%;
    padding: 50px 0;
    margin-left: 0px
  }

  .sidebaricon{
    width: 22px;
    height: 22px;
    position: absolute;
    z-index: 20;
    top: 22px;
    left: 15px;
    cursor: pointer;
  }


  .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 150px;
    height: 100%;
    margin-top: 60px;
    background: #042331;
    bottom: 0.1rem;
    overflow-y: scroll;
    transform: translateX(-150px);
    transition: transform 250ms ease-in-out;
    z-index: 1;
  }
  #opensidebar:checked ~ .sidebar{
    transform: translateX(0px);
  }
  #opensidebar{
    display: none;
  }

  

  .sidebar-scroller{
    list-style: none;
    padding: 0;
    margin: 0;
  }



  .spinner.middle,
  .spinner.bottom{
    margin-top: 3px;
  }
  
   .sidebar header {
    font-size: 15px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #063146;
    user-select: none;
  }
  
  .sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 14px;
    color: white;
    padding-left: 10px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    transition: 0.4s;
  } 
    
  .sidebar-btn:hover  {
    padding-left: 70px;
    color: orangered;
  }

  .mid{
    margin-left: 0rem;
  }
  
  

}
