


.alt{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 15rem;
  width: 60rem;
  background-color: var(--dark-grey);
  gap: 5px;
}



.alert-dark {
  color: var(--white);
  background: var(--black);
}

.alert-light {
  color: var(--black);
  background: var(--white);
  border: 2px solid var(--black);
}

.alert-red {
  color: var(--white);
  background: var(--light-red-alert);
  border: 1px solid var(--red-alert);
}

.alert-green {
  color: var(--white);
  background: var(--light-green-alert);
  border: 1px solid var(--green-alert);
}

.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem 1.5rem;
}
.alert-icon {
  color: var(--black);
  background: var(--white);
  border: 2px solid var(--black);

}


