

.avatar-square {
  position: relative;
  top: 5rem;
  left: 1.5rem;
  border: 0.1rem solid var(--black);
}

.sm {
  height: 4em;
  width: 8rem;
}

.md {
  height: 6rem;
  width: 10rem;
}

.lg {
  height: 8rem;
  width: 14rem;
}

.avatar-border {
  border: 0.1rem solid var(--black);
  border-radius: 50%;
  position: relative;
  top: 4rem;
  left: 3rem;
}

.sm-circle {
  height: 6rem;
  width: 6rem;
}

.md-circle {
  height: 9rem;
  width: 9rem;
}

.lg-circle {
  height: 12rem;
  width: 12em;
}

.avatar-box {
  height: 5rem;
  width: 10rem;
  border: 0.2rem solid var(--black);
  border-radius: 0.5rem;
  position: relative;
  top: 8rem;
  left: 3rem;
}
.avatar-text{
  position: relative;
  top: 6rem;
  left: 1rem;
  font-size: 20px;
}

.avatar-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  left: 25rem;
  height: 40rem;
  width: 35rem;
  background-color: aqua;
}

