
@import url(/Stylesheets/main.css);

.mark {
  margin: 2rem;
}




.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  height: 2rem;
  width: 2rem;
  background-color: var(--red-alert);
  border-radius: 50%;
  position: absolute;
 

}

 .bot {
  bottom:29.2rem;
}

.mail {
margin-left: 4rem;
}

.cart {
  margin-left: 12rem;
}
.phone {
margin-left: 19.5rem;
}
.insta {
  margin-left: 27rem;
} 

.hero-img {
  height: 100px;
  border-radius: 50%;
}

.social {
  height: 2rem;
  width: 2rem;
  border: 0.2rem solid var(--white);
  border-radius: 50%;
  position: absolute;
}

.online {
  background-color: var(--green-badge);
left: 4rem;
  top: 4.5rem;
}

.idle {
  background-color: var(--yellow-badge);
  left: 14.5rem;
  top: 4.5rem;
}

.offline {
  background-color: var(--red-badge);
  left: 25rem;
  top: 4.5rem;
}

.hero {
  position: relative;
  top: 1rem;
 
}

