


.btn-hover {
  background-color: black;
  min-width: 100vh;
  height: 100px;
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
}

.btn-1 {
  padding: 1rem 2rem;
  border: none;
  color: var(--white);
  background-color: var(--hover-bg);
  border-radius: 2px;
  box-shadow: inset 0 0 0 0 var(--highlight);
  transition: ease-out 0.3s;
  font-size: 1rem;
  outline: none;
  letter-spacing: 4px;
}

.btn-1:hover {
  box-shadow: inset 300px 0 0 0 var(--highlight);
  cursor: pointer;
  color: var(--black);
}
/* second button */

.btn-2 {
  width: 12rem;
  height: 3.5rem;
  border: none;
  color: var(--black);
  border-radius: 2px;
  transition: ease-out 0.3s;
  font-size: 1rem;
  outline: none;
  border: 3px solid var(--hover);
  position: relative;
  z-index: 1;
  letter-spacing: 4px;
  margin: 2rem;
}

.btn-2:hover {
  color: #000;
  cursor: pointer;
}

.btn-2:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  content: "";
  opacity: 0;
  background-color: var(--hover);
}
.btn-2:hover:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}

.btn {
  margin-top: 1rem;
  font-size: larger;
  padding: 0.5rem 1rem;
  background-color: var(--highlight);
  color: var(--white);
}

.icon {
  padding: 0.5rem 1rem;
  background-color: var(--white);
  border: 0.1rem solid var(--black);
  left: 0.5rem;
}

.text-btn{
  margin-left: 25rem;
}


@media screen and (max-width:480px){
  .box {
    background-color: black;
    min-width: 50vh;
    height: 100px;
    margin-top: 2rem;
  }
  
  .btn-1 {
    padding: 0.5rem 1rem;
    border: none;
    color: var(--white);
    background-color: var(--hover-bg);
    border-radius: 2px;
    box-shadow: inset 0 0 0 0 var(--highlight);
    transition: ease-out 0.3s;
    font-size: 0.8rem;
    outline: none;
    letter-spacing: 2px;
  }
  
  .btn-1:hover {
    box-shadow: inset 300px 0 0 0 var(--highlight);
    cursor: pointer;
    color: var(--black);
  }
  /* second button */
  
  .btn-2 {
    width: 7rem;
    height: 2rem;
    border: none;
    color: var(--black);
    border-radius: 2px;
    transition: ease-out 0.3s;
    font-size: 0.8rem;
    outline: none;
    border: 3px solid var(--hover);
    position: relative;
    z-index: 1;
    letter-spacing: 2px;
    margin: 2rem;
  }
  
  .btn-2:hover {
    color: #000;
    cursor: pointer;
  }
  
  .btn-2:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    content: "";
    opacity: 0;
    background-color: var(--hover);
  }
  .btn-2:hover:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
  }

  .btn {
    margin-top: 1rem;
    font-size: 11px;
    padding: 0.5rem 1rem;
    background-color: var(--highlight);
    color: var(--white);
  }
  
  .icon {
    padding: .5rem 1rem;
    background-color: var(--white);
    border: 0.1rem solid var(--black);
    left: 0.5rem;
  }
  
  .text-btn{
    margin-left: 2rem;
  }
  
}