
@import url(/Stylesheets/main.css);

.card-container {
  height: 50rem;
  width: 60rem;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
 
}
.card {
  height: 21.5rem;
  width: 15rem;
  background: var(--light-grey);

}
.card-doc {
  height: 21.5rem;
  width: 15rem;
  background: var(--light-grey);
  margin-left: 1rem;
}
.card-only{
  height:11rem;
}


.card_image {
  background-color: var(--bg-blue);
  height: 10rem;
  margin-bottom: 0.3rem;
  background-size: cover;
}

.card-1 {
  margin-bottom: 0.8rem;
  background-image: url("https://images.unsplash.com/photo-1542291026-7eec264c27ff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c2hvZXxlbnwwfHwwfHw%3D&w=1000&q=80");
}

.tag {
  background-color: var(--badge);
  width: 7rem;
  font-size: 14px;
  text-align: center;
}

.stars{
  position: relative;
  left: 8rem;
  bottom: 7.5rem;
}

.checked {
  color: var(--badge);
}
.fa-shopping-cart {
  padding-right: 0.4rem;
}

.fa-window-close {
  margin: 0.2rem;
  float: right;
}

.brand-name{
  margin-top: -0.5rem;
  font-size: 25px;
  font-weight: bold;
}

.shoe-card{
  margin-left: 0.5rem;
}

.price-tag{
  margin-top: -1rem;
  font-size: 20px;
  font-weight: bold;
}

.dismiss{
  font-weight: bold;
  font-size: 16px;
  text-decoration: line-through;
  margin-top: 1.5rem;
  margin-left: -4.9rem;
}

.shoe-red{
  margin-top: -6rem;
  font-weight: bold;
}
.shoe-size{
  margin-bottom: 0.3rem;
  font-weight: bold;
}
.shoe-btn{
  color: var(--white);
  background-color: blue;
  padding: 0.5rem;
  margin: 0.3rem ;
}
.horizontal-card{
  height: 11rem;
  width: 20rem;
  background: var(--light-grey);
}

.horizontal-img {
  height: 10rem;
  width: 10rem;
  background-size: cover;
}

.side-text{
  margin-left: 10rem;
 margin-top: -10rem;
}
.side-text .shoe-red{
  margin-top: -4.5rem;
}
.cardbox {
  box-shadow: 7px 12px var(--dark-grey);
}