
.item {
  background-color: var(--light-grey);
  height: 20rem;
  width: 37rem;
  margin: 2rem 0 0 0.5rem;
  display: grid;
  grid-template-columns: 10rem 10rem 10rem;
  grid-template-rows: 7rem 7rem 7rem;
  grid-gap: 20px;
  text-align: center;
  justify-content: center;
  grid-auto-flow: row;

}

.grid-container {
  grid-template-columns: 10rem 10rem;
  grid-template-rows: 7rem 7rem;
}

.grid-contain{
  height: 25rem;
}

.items1 {
  background-color: orangered;
}
.items2 {
  background-color: yellowgreen;
}
.items3 {
  background-color: slateblue;
}
.items4 {
  background-color: hotpink;
}
.items5 {
  background-color: royalblue;
}
.items6 {
  background-color: goldenrod;
}

@media screen and (max-width:480px){
  .item {
    background-color: var(--light-grey);
    height: 15rem;
    width: 24rem;
    margin: 2rem 0 0 0.5rem;
    display: grid;
    grid-template-columns: 8rem 8rem 8rem;
    grid-template-rows: 5rem 5rem 5rem;
    grid-gap: 10px;
    grid-auto-flow: row;
    margin-left: 1.5rem;
  
  }
.grid-container {
  grid-template-columns: 8rem 8rem;
  grid-template-rows:5rem 5rem;
}

.grid-contain{
  height: 23rem;
}
.grid-txt{
  font-size: 0.8rem;
}
}
