
.nav-navbar{
  background-color: orange;
  margin: 50px;
  padding: 5px;
  text-align: center;
}

.nav-navbar li{
  text-decoration: underline;
  
}

@media screen and (max-width:480px){
  .nav-navbar{
    background-color: orange;
    margin:0px;
    padding: 0px;
    text-align: center;
    font-size: 14px;
  }
}