
.rate-container{
  height: 20rem;
  margin-left: 10rem;
}
.rating-checked {
  margin-top: 1rem;
  margin-bottom: 2rem;
  position: relative;
  top: 5rem;
  word-spacing: 3rem;
}

.tick {
  color: var(--badge);
}

@media screen and (max-width:480px){
  .rate-container{
    height: 20rem;
    margin-left: 2rem;
  }

  .rating-checked {
    margin-top: 1rem;
    margin-bottom: 2rem;
    position: relative;
    top: 5rem;
    word-spacing: 1.5rem;
    z-index: -1;
    
  }
}