

.slider-container{
     margin-top: 5rem;
     margin: 5rem;
     padding: 4rem;
}

.slider{
     margin-left: 5rem;
     width: 35rem;
}
.volume-slider{
     width: 34rem;
}

@media screen and (max-width:480px){
     .slider-container{
          margin-top: 1rem;
          margin: 0rem;
          padding: 0rem;
     }
     
     .slider{
          margin-top: 3rem;
          margin-left: 4.5rem;
          width: 20rem;
     }
     .volume-slider{
          width: 20rem;
     }

}