
.align-center{
     text-align: center;
}
.align-right{
     text-align: right;
   
}
.gray-text{
     color: var(--light-grey);
}

.utility-define{
     margin-top: 3rem;
     font-size: 1.5rem;
     background-color: wheat;
 
}