:root {
  --light-red-alert: rgb(248, 122, 122);
  --red-alert: rgb(255, 0, 0);
  --light-green-alert: rgb(122, 248, 139);
  --green-alert: rgb(0, 128, 0);
  --highlight: rgb(226, 241, 6);

  --hover-bg: rgb(255, 0, 68);
  --hover: rgb(239, 255, 8);

  --green-badge: rgb(65, 224, 65);
  --yellow-badge: rgb(240, 255, 30);
  --red-badge: rgb(241, 10, 10);

  --bg-blue: rgb(25, 0, 255);
  --badge: rgb(253, 143, 0);
}
